<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.UserMapper">

	
	<insert id="join">
		INSERT INTO member_tb VALUES(#{email},#{password},#{phone},#{birthd},10000,sysdate)
	</insert>
	
	<select id="selectOne" resultType="com.hsm.vo.UserVO">
	    SELECT * FROM member_tb WHERE email = #{email}
	</select>
	
	<select id="findPW" resultType="com.hsm.vo.UserVO">
	    SELECT * FROM member_tb WHERE phone = #{phone}
	</select>
	
	<select id="busList" resultType="com.hsm.vo.AllBusVO">
	    SELECT * FROM all_bus_tb
	</select>
	
	<select id="qnaList" resultType="com.hsm.vo.QnAVO">
	    SELECT * FROM questions_tb
	</select>
	
	<select id="areaBusList" resultType="com.hsm.vo.AllBusVO">
	    SELECT * FROM all_bus_tb WHERE area=#{area}
	</select>
	
	<select id="busTimeList" resultType="com.hsm.vo.BusTimeVO">
	     SELECT * FROM ${area}_time_tb
	</select>
	
	<select id="busChoose" resultType="com.hsm.vo.BusTimeVO">
	     SELECT * FROM ${departure_area}_time_tb WHERE bus_name = #{bus_name}
	</select>
	
	<select id="busSeat" resultType="com.hsm.vo.SeatVO">
		SELECT * FROM ${bus_name}
	</select>	
	
	<!-- 좌석 있는지 확인 -->
	<select id="busSeatcount" resultType="int">
		SELECT COUNT(available_seat) FROM ${bus_name} 
		WHERE available_seat = 1 AND 
		seat_number IN 
		<foreach collection="seatNumbers" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>	
	<update id="changePassword">
		UPDATE member_tb SET password=#{password} WHERE email = #{email}
	</update>
	<update id="changePhone">
		UPDATE member_tb SET phone=#{phone} WHERE email = #{email}
	</update>
	<delete id="secession">
		DELETE FROM member_tb WHERE email=#{email}
	</delete>
	
	<insert id="userContentInsert">
	   <selectKey keyProperty="seq" resultType="int" order="BEFORE">
	     SELECT NVL(MAX(seq),0)+1 FROM questions_tb
	   </selectKey>
	  	 INSERT INTO questions_tb VALUES(
	     #{seq}, #{email}, #{content}, sysdate, '', '')
	</insert>
	
	<delete id="qnaDelete">
		DELETE FROM questions_tb WHERE email=#{email}
	</delete>
	
	<insert id="buyTicket">
	 <selectKey keyProperty="ticketing_number" resultType="int" order="BEFORE">
	     SELECT NVL(MAX(ticketing_number),0)+1 FROM ticketing_detail_tb
	   </selectKey>
		INSERT INTO ticketing_detail_tb 
			VALUES(
					#{ticketing_number},
					#{email},
					#{departure_area},
					#{destination},
					#{number_of_tickets},
					#{seat_number},
					#{departure_date},
					1,
					#{bus_name},
					#{area_name}
				)
	</insert>
	
	<select id="ticketList" resultType="com.hsm.vo.TicketingVO">
	    SELECT * FROM ticketing_detail_tb WHERE email = #{email}
	</select>
	<select id="myticketList" resultType="int">
	    SELECT count(*) FROM ticketing_detail_tb WHERE email = #{email} AND ticketing_status = 1
	</select>
	<update id="seatUpdate" >
		UPDATE ${bus_name} 
		SET 
			available_seat = 1,
			email = #{email}
		 WHERE seat_number IN 
		<foreach collection="seatNumbers" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</update>
	<!-- user에 돈 업데이트 -->
	<update id="pay">
		UPDATE member_tb SET point = #{point} WHERE email = #{email}
	</update>
	
	<update id="addSeat">
		UPDATE ${area_name}_time_tb SET remaining_seats = #{remaining_seats} 
		WHERE bus_name = #{bus_name}
	</update>
	
	<select id="getTicket" resultType="com.hsm.vo.TicketingVO"> 
		SELECT * FROM ticketing_detail_tb WHERE ticketing_number = #{ticketing_number}
	</select>
	
	<update id="cancelTicket">
		UPDATE ticketing_detail_tb SET ticketing_status = 0 WHERE ticketing_number = #{ticketing_number}
	</update>
	
	<update id="seatCancel" >
		UPDATE ${bus_name} 
		SET 
			available_seat = 0,
			email = null
		 WHERE seat_number IN 
		<foreach collection="seatNumbers" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</update>
	
	<!-- user에 돈 업데이트 -->
	<update id="payCancel">
		UPDATE member_tb SET point = #{point} WHERE email = #{email}
	</update>
	
	
</mapper>  